*/__pycache__/**
.idea/
pms/form_dates/__pycache__/Ymd.cpython-310.pyc
pms/migrations/__pycache__/__init__.cpython-310.pyc
pms/migrations/__pycache__/0001_initial.cpython-310.pyc
pms/migrations/__pycache__/0002_book_created_room_description_room_name.cpython-310.pyc
pms/migrations/__pycache__/0003_room_type_remove_room_max_guests_remove_room_price_and_more.cpython-310.pyc
pms/migrations/__pycache__/0004_book_state_alter_book_code.cpython-310.pyc
pms/migrations/__pycache__/0005_alter_book_code_alter_book_state.cpython-310.pyc
pms/migrations/__pycache__/0006_alter_book_code_alter_book_state.cpython-310.pyc
pms/migrations/__pycache__/0007_alter_book_checkin_alter_book_checkout_and_more.cpython-310.pyc
pms/migrations/__pycache__/0008_alter_book_code.cpython-310.pyc
pms/migrations/__pycache__/0009_alter_book_checkin_alter_book_checkout_and_more.cpython-310.pyc
pms/migrations/__pycache__/0010_alter_book_checkin_alter_book_checkout_and_more.cpython-310.pyc
pms/migrations/__pycache__/0011_alter_book_code.cpython-310.pyc
pms/migrations/__pycache__/0012_booking_delete_book.cpython-310.pyc
pms/migrations/__pycache__/0013_alter_booking_code.cpython-310.pyc
pms/migrations/__pycache__/0014_alter_booking_code.cpython-310.pyc
pms/reservation_code/__pycache__/generate.cpython-310.pyc
