{% extends "main.html"%}

{% block content %}
{% if edit %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
<h1>Editar fechas</h1>
{% else %}
<h1>Nueva reserva</h1>
{% endif %}
<form {% if edit %}action=""{% else %}action="{% url 'search' %}"{% endif %} method="POST">
    {% csrf_token%}
    {% for field in form %}
        <div class="row">
            <div class="col-md-2">{{field.label_tag}}</div>
            <div class="col-md">{{field}}</div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col"><span>Días: </span><span id="total-days"></span></div>
    </div>
    <div class="row">
        <div class="col-md-auto">
            <button class="btn btn-primary" type="submit">
                {% if edit %}
                  Guardar
                {% else %}
                  Buscar disponibilidad
                {% endif %}
            </button>
        </div>
    </div>
</form>
{% load static %}
<script async src="{% static 'js/search_room.js' %}"></script>
{% endblock content%}
