{% extends "main.html"%}

{% block content %}
<h1>Nueva reserva</h1>
<form action="{% url 'search'%}" method="POST">
    {% csrf_token%}
    {% for field in form %}
    <div class="row">
        <div class="col-md-2">{{field.label_tag}}</div>
        <div class="col-md">{{field}}</div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col"><span>Días: </span><span id="total-days"></span></div>
    </div>
    <div class="row">
        <div class="col-md-auto">
            <button class="btn btn-primary" type="submit">Buscar disponibilidad</button>
        </div>
    </div>
</form>
{% load static %}
<script async src="{% static 'js/search_room.js' %}"></script>
{% endblock content%}