{% extends "main.html"%}

{% block content %}
<h1>Crear reserva</h1>
<div>
    <h5>Reservando habitación {{room.room_type}} {{room.name}}</h5>
    <div>Datos de contacto de la reserva:</div>
    <div class="card card-body">
        <form method="post" action="">
            {% csrf_token%}
            {% for field in customer_form %}
            <div class="row">
                <div class="col-md-2">{{field.label_tag}}</div>
                <div class="col-md-auto">{{field}}</div>
            </div>
            {% endfor %}
            {{booking_form}}
            
            <a class="btn btn-outline-primary" href="{% url 'search'%}?{{url_query}}">Atras</a>
            <input class="btn btn-primary"type="submit" value="Confirmar reserva">
        </form>
    </div>
</div>
{% endblock content%}