{% extends "main.html"%}

{% block content %}
<h1>Editar datos de contacto</h1>
<form action="" method="post">

    {% csrf_token%}
    {% for field in form %}
    <div class="row">
        <div class="col-md-2">
            {{field.label_tag}}
        </div>
        <div class="col">
            {{field}}
        </div>
    </div>
    {% endfor %}
    <div class="mt-4 mb-4">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <strong class="text-danger">{{ error|escape }}</strong>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <strong class="text-danger">{{ error|escape }}</strong>
            {% endfor %}
        {% endif %}
    
    </div>
    <a class="btn btn-outline-primary" href="{% url 'home' %}">Volver</a>
    <button class="btn btn-primary" type="submit">Guardar datos</button>
</form>


{% endblock content%}
